.header {
  margin: 0 7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}


.message-logo{
  position: relative;
  right: 24rem;
  bottom: 8rem;
}
.header button {
  background-color: #00308f;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {

    .header{
        margin: 0 2rem;
    }

    .header h1{
        font-size: 30px;
    }
  .header button {
    padding: 5px 10px;
  }

  .message-logo{
    position: relative;
    right: 10rem;
    bottom: 1rem;
    z-index: -5;
    
  }
}
